.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    align-self: center;
    margin-top: 8%;
    width: 350px;
    border-radius: 15px;
    background-color: #070707;
    z-index: 100;
    box-shadow: 0px 0px 12px rgb(25, 25, 25);
    transition: height .3s ease-in-out; 
  }

  .head{
    color: black;
    text-shadow: -3px 1px 3px #202020, 0 0 2px #717171, 0 0 2px #fff, 0 0 5px #fff;
    
}
  
  .loginlist,
  .signuplist {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .loginlist li,
  .signuplist li {
    margin-bottom: 15px;
  }
  
  .loginlist label,
  .signuplist label {
    display: block;
    margin-bottom: 5px;
  }
  
  .loginlist input,
  .signuplist input {
    width: 200px; 
    padding: 8px;
  }

  .btnwrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
    
  }

  .btn{
  padding: 2%;
  margin: auto;
  width: 85px;
  color:#fff;
  background-color: #010101;
  }

  .login{
    height: 340px;
  }
  .signup {
    height: 420px;
}

.topbar{
  display: flex;
  flex-direction: row;
}

.topbar img{
  width: 30px;
  height: 40px;
  position: absolute;
  margin-top: 2%;
  margin-left: 60%;
  
}

.topbar img:hover{
cursor: pointer;

}

