.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0 20%; 
}

.ns{
    display: flex;
    justify-content: left;
    font-family: Fira Sans Condensed;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}


.nothing{
    color: #FFF;
    font-family: var(--font-roboto);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    filter: blur(1px);
    justify-content: center;
    padding-top: 50px;
}

.menu{
    height: 30px;
    width: 30px;
    justify-content: center;
    margin-top: 40px;
}

.bar{
    background: #ffffff;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80vw;
    height: 9px;
    border-radius: 90px;
}

.section{
    height: 100vh;
    width: 100vh;
}

@media screen and (max-width: 830px){

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nothing{
    padding-left: 15%;
    padding-right: 15%;
}

.ns{
    width: 50px;
    height: 50px;
    margin-top: 45px;
}

}